body{
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}

p{
    margin: 20px;
}
p::first-letter{
    font-size: 30px;
    font-family: "cursive";
    line-height: .5;
}

p::first-line{
    font-weight: bold;
    color: red;
}