h1{
    font-family: cursive, sans-serif, serif;
    /*font-family: "Bitstream Vera Sans Mono", sans-serif;*/
    font-size: 3rem;
    /*font-weight: bold;*/
    font-style: italic;
    line-height: 3;
    color: red;
    letter-spacing: 1.5rem;
    /*line-height: normal;*/

/*     always include a generic font family, like serif or sans-serif, and rem is mostly used and sometimes VH and VW */
}

