div{width: 200px; height: 200px; border: 10px solid red;
border-radius: 100%; background-image: url("../tags/dog.jpg");
/*background-size: cover;*/
background-repeat: no-repeat;}

img{border: 10px groove orangered; border-radius: 100%;}

.dog1{border: 10px dashed orangered;}

.dog2{border: 10px dotted orangered;}

.dog3{border: 10px double orangered;}

/*select then alt j multiple times to select all*/